<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Document</title>
</head>
<body>
    <header id="header" class="shadow bg-light">
        <nav class="container navbar">
            <a href="/" class="nav-brand text-dark">
                Slogger
            </a>

            <button class="toggle-button">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>

            <div class="collapse">
                <ul class="navbar-nav">
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Home</a>
                    
                </ul>
            </div>

            <div class="collapse">
                <ul class="navbar-nav">
                    <a href="#" class="nav-link">Login</a>
                    <a href="#" class="nav-link">SignUp</a>
                </ul>
            </div>
        </nav>
    </header>

    <main id="main-site">
        <section id="posts">
            <div class="container">
                <div class="grid">
                    <div class="grid-items">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="#">
                                        <img src="/images/563e4b0e-db6f-49b7-b696-b060f9427c0a.webp" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-body text-center px1">
                                    <a href="#" class="text-title display-1 text-dark"> 
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis nobis eum, minima exercitationem eligendi sunt rem, illo possimus, earum magnam quia? Omnis optio porro reprehenderit ipsum ipsa minus dicta iusto.
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span><li class="far fa-clock text-primary"></li>Clock Wed 05,2022</span>
                                        <span><li class="far fa-comment text-primary"></li>12</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="grid-items">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="#">
                                        <img src="/images/Main-Page-Women-scaled.jpg.webp" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-body text-center px1">
                                    <a href="#" class="text-title display-1 text-dark"> 
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis nobis eum, minima exercitationem eligendi sunt rem, illo possimus, earum magnam quia? Omnis optio porro reprehenderit ipsum ipsa minus dicta iusto.
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span><li class="far fa-clock text-primary"></li>Clock Wed 05,2022</span>
                                        <span><li class="far fa-comment text-primary"></li>12</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <div class="grid-items">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="#">
                                        <img src="/images/New-Main-Page-Men-scaled_ccexpress.jpeg.webp" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-body text-center px1">
                                    <a href="#" class="text-title display-1 text-dark"> 
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis nobis eum, minima exercitationem eligendi sunt rem, illo possimus, earum magnam quia? Omnis optio porro reprehenderit ipsum ipsa minus dicta iusto.
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span><li class="far fa-clock text-primary"></li>Clock Wed 05,2022</span>
                                        <span><li class="far fa-comment text-primary"></li>12</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="grid-items">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="#">
                                        <img src="/images/logo.jpg" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-body text-center px1">
                                    <a href="#" class="text-title display-1 text-dark"> 
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis nobis eum, minima exercitationem eligendi sunt rem, illo possimus, earum magnam quia? Omnis optio porro reprehenderit ipsum ipsa minus dicta iusto.
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span><li class="far fa-clock text-primary"></li>Clock Wed 05,2022</span>
                                        <span><li class="far fa-comment text-primary"></li>12</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="grid-items">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="#">
                                        <img src="/images/563e4b0e-db6f-49b7-b696-b060f9427c0a.webp" alt="" class="img-fluid">
                                    </a>
                                </div>
                                <div class="card-body text-center px1">
                                    <a href="#" class="text-title display-1 text-dark"> 
                                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis nobis eum, minima exercitationem eligendi sunt rem, illo possimus, earum magnam quia? Omnis optio porro reprehenderit ipsum ipsa minus dicta iusto.
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span><li class="far fa-clock text-primary"></li>Clock Wed 05,2022</span>
                                        <span><li class="far fa-comment text-primary"></li>12</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="text-center">
                    <a href="#" class="btn btn-primary secondary-title text-dark">
                        Load More Posts
                    </a>
                </div>
            </div>
        </section>

        <!-- <section class="slider">
            <div class="container">

            </div>
        </section> -->
    </main>

    <footer id="footer">
        <div class="container">
            <div class="row mb-3 ">
                <div class="col-3">
                    <h2 class="footer-title secondary-title">About Us</h2>
                    <div class="secondary-title secondary-text">
                        <p class="mt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus suscipit sed tempora dignissimos sequi, harum ullam corporis sapiente ipsa enim praesentium ab eum ipsum placeat voluptatem tempore autem. Vitae, natus?
                    </p>

                    <address>
                        <li class="fas fa-map-marker-alt text-primary"></li>
                        1475 SomeWhere Street
                        North West
                        South Africa
                    </address>

                    <div class="phone">
                        <li class="fas fa-mobile text-primary"></li>
                        +27 11 785 2145
                    </div>

                    <div class="email">
                        <li class="fas fa-envelope text-primary"></li>
                        Email@Slogger.com
                    </div>
                    </div>
                </div>
                <div class="col-3">
                    <h2 class="footer-title secondary-tittle">Feature Post</h2>
                    <div class="feature-post">
                        <div class="flex-item">
                            <div class="article">
                                <div class="d-flex">
                                    <a href="#">
                                        <img src="/images/black/b583f72d-97cc-4e8f-9245-103e20daab34.webp" class="object-fit px-1">
                                        <div class="px-1">
                                            <a href="#" class="tex-title display-2 text-dark">
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, minima?
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="article">
                                <div class="d-flex">
                                    <a href="#">
                                        <img src="/images/black/b583f72d-97cc-4e8f-9245-103e20daab34.webp" class="object-fit px-1">
                                        <div class="px-1">
                                            <a href="#" class="tex-title display-2 text-dark">
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, minima?
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="flex-item">
                            <div class="article">
                                <div class="d-flex">
                                    <a href="#">
                                        <img src="/images/black/b583f72d-97cc-4e8f-9245-103e20daab34.webp" class="object-fit px-1">
                                        <div class="px-1">
                                            <a href="#" class="tex-title display-2 text-dark">
                                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, minima?
                                            </a>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h2 class="footer-title secondary-title">Tags</h2>
                    <div class="tags">
                        <div class="d-flex flex-wrap">
                            <a href="#" class="nav-link btn bg-light">Technology</a>
                            <a href="#" class="nav-link btn bg-light">Travel</a>
                            <a href="#" class="nav-link btn bg-light">Art</a>
                            <a href="#" class="nav-link btn bg-light">Science</a>
                            <a href="#" class="nav-link btn bg-light">Life Style</a>
                            <a href="#" class="nav-link btn bg-light">Food</a>
                        </div>
                    </div>
                    <h2 class="footer-title secondary-title">Social</h2>
                    <div class="tags social">
                        <div class="d-flex flex-wrap">
                            <a href="#" class="nav-link btn bg-light"><i class="fab fa-facebook-f"></i></a>
                            <a href="#" class="nav-link btn bg-light"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="nav-link btn bg-light"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>